<body>
    <h1 style="margin-left:450px;font-family:Georgia, 'Times New Roman', Times, serif;font-size:30px;color:blue; margin-top:-19px"> <b> Informations générales</b></h1>
    <br>
<div style="margin-left:190px">
    <img src="assets/images/info.gif" style="margin-left:500px" alt="">
    <img src="assets/images/rgpdd.jpg" style="margin-left:-30px ;width: 400px; height: 300px; margin-top:-328px" alt="">
</div>
   <br>
    <div class="wrap" [class.vert]="(tabWay=='vert') ">
        <mat-tab-group animationDuration="0ms">
           

            <mat-tab label="Ce que vous devriez savoir">
               
              <h1 id="cgcu"> <b> Introduction de CGCU : qu'est-ce que c'est & les avantages , <br> et comment ça marche . </b></h1>
                   <p style="color: black; font-size: 18px">Le paysage de la vie privée évolue rapidement.</p>
                   <h3 style="font-size: 17px;">Ce que vous devriez savoir :</h3>
                   <ul>
                       <li>  Le non-respect des principales lois sur la protection de la vie privée peut coûter cher</li>
                       <li>Les clients sont plus sélectifs que jamais avec leurs données personnelles</li>
                       <li>La confidentialité des données est dans tous les esprits</li>
                   </ul>
                   <p>En 2022 et au-delà, il est plus important que jamais de s'approprier ses données clients, et j'ai une bonne nouvelle, avec CGCU c'est vraiment facile.</p>
                   <blockquote>
                    <p id="block" style="line-height: 1.5; font-size: 28px; "> <b> Dites adieu aux solutions de confidentialité <br> compliquées et  coûteuses et dites bienvenu à CGCU</b></p>
                    </blockquote>
                    <p>Notre plate-forme de confidentialité existe pour vous donner les outils dont vous avez besoin , <br>  non seulement pour rester conforme, mais aussi pour établir la confiance avec vos précieux clients.</p>
                    <p><img src="assets/images/1.jpg"  alt="" style="width: 400px;" >
                    <img src="assets/images/2.jpg" style="margin-left:20px"></p>
                    <br>
                    <p id="" style="font-weight:bold;font-size: 24px; text-align: left; line-height: 1.25;">CGCU qui signifie "centre de gestion des consentements utilisateurs" est une plateforme de gestion de la confidentialité facile à utiliser pour les entreprises.</p>
                    <ul>
                        <li>
                         <p style=" color: black;font-size: 19px;"> Notre logiciel de conformité à la confidentialité comprend un ensemble de fonctionnalités pour vous aider à offrir une expérience client gagnante en matière de confidentialité. Restez facilement au courant de tout problème de conformité à la confidentialité des données.</p>  
                        </li>
                        <li>
                            <p style=" color: black;font-size: 19px;">Notre objectif est de faciliter la conformité à la confidentialité des données.</p>  
                           </li></ul>
                            <br>
                            <div>
                           <img src="assets/images/giphy.gif" alt="Computer man" style="width:350px;height:350px;margin-left: 200px"></div><br>
                           <h1> <b>Quelles sont les fonctionnalités de CGCU ?</b> </h1>
                           <p>Nous pensons qu'établir la confiance et rester en conformité avec la loi ne devrait pas sembler impossible, c'est pourquoi nous avons conçu une suite de fonctionnalités qui simplifient les choses.</p>
                           <p>Pour vous aider à gérer la conformité et à renforcer la confiance des clients, notre ensemble de fonctionnalités de base comprend :</p>
                           <ul> 
                               <li> Générateur de politique de confidentialité .</li>
                               
                               <li> Générateur de bannières de cookies . </li>
                           </ul>
                           <h1><b>CGCU fonctionnera-t-il avec mon site Web ?</b></h1>
                           <p>Nous fournissons tout ce dont vous avez besoin pour créer une expérience de confidentialité des données fiable et rester conforme aux lois internationales sur la confidentialité dès le premier jour.</p>
                           <h1> <b>Pourquoi utiliser CGCU ?</b> </h1>
                           <p>Absolument. Nous avons conçu notre plate-forme de confidentialité pour qu'elle fonctionne sans problème avec n'importe quel site Web ou plate-forme de commerce électronique. La plupart des magasins de commerce électronique qui utilisent notre plate-forme gèrent leurs magasins sur Shopify, Wix, Squarespace ou WordPress - mais vous pouvez ajouter Enzuzo à n'importe quoi. C'est aussi simple que de copier et coller nos codes d'intégration dans votre créateur de site Web</p>
                        
            </mat-tab>
            <mat-tab label="CGCU">
                <br>
                <h1> <b>Est-ce que CGCU aidera à me conformer au RGPD ?</b> </h1>
                <p>Notre plate-forme de confidentialité est conçue pour vous aider à maintenir la conformité avec les principales lois sur la confidentialité telles que le RGPD, grâce à une politique de confidentialité, des conditions d'utilisation et une bannière de cookies pertinentes et conformes.</p>
                <p>Il y a certains domaines que vous devrez encore gérer - comme vos processus internes et la sécurité de votre site Web - mais nous nous occuperons du côté de la confidentialité des données. Avec nos modèles et outils, vous pouvez être assuré que la conformité de votre site Web est triée.</p>
                <h1><b>CGCU va-t-il ralentir mon site Web ?</b></h1>
                <p>Il ne devrait y avoir aucun impact sur la vitesse du site lors de l'utilisation de CGCU. Notre plateforme a été conçue avec votre succès à l'esprit et utilise un minimum de ressources pour y parvenir.</p>
                <h1><b>Vous avez une autre question ?</b></h1>
                <p>Contactez notre équipe d'assistance pour une réponse rapide à votre question. Nous sommes ici tous les jours, de 9 h à 17 h . Vous pouvez nous joindre à " " ou par chat !</p>
                
            </mat-tab>
            <mat-tab label="Consentement aux cookies">
                <h1 style="margin-top:30px"><b>Qu'est-ce que le consentement aux cookies ? Pourquoi le consentement <br> aux cookies est-il nécessaire ? Pourquoi c'est important?</b>  </h1>
                <p>Le consentement aux cookies est l'interaction qui se produit sur votre site Web entre un visiteur et une plateforme de gestion du consentement (CMP) qui permet aux utilisateurs de décider s'ils autorisent les cookies à collecter leurs données personnelles.</p>
                <h1 style="margin-top:20px;"> <b> Consentement aux cookies pour votre site web. </b></h1>
                
        <p>La directive européenne sur la protection de la vie privée (ePR) exige que les visiteurs des sites Web <br> donnent leur consentement avant que certains cookies puissent être utilisés.
        </p>
<h1><b>Ai-je vraiment besoin de consentement aux cookies sur mon site web ?</b></h1>
<img src="assets/images/2322fccb18cc5304d828167ae9125875.gif" style="margin-left:220px;">
<p>Cookie consent est l’un des principaux aspects des lois et règlements internationaux en matière de protection des données, qui sont contrôlés par les autorités de protection des données. Ces autorités peuvent être nationales ou internationales, couvrant un continent entier ou un territoire légal. <br> Comme ces exigences exactes de mise en œuvre du cookie consent peuvent différer d’un pays à l’autre, <br> la plateforme de gestion du consentement CGCU offre une variété de fonctionnalités pour rendre les sites web conformes aux lois sur les cookies.</p>
<p>L’élément le plus important que ces lois sur la vie privée et la protection des données tendent à réglementer est la protection des données personnelles. Elles visent à protéger la vie privée des visiteurs des sites web. Comme de plus en plus d’informations personnelles sont utilisées à d’autres fins que celle de pouvoir vous contacter comme vous l’avez explicitement demandé, ces lois sur la protection de la vie privée deviennent plus importantes que jamais.

</p>

            </mat-tab>
            <mat-tab label="code js ">
               


                   

            

            </mat-tab>

        </mat-tab-group>

    </div>
</body>