<body>

    <section class="section-primary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="h1">Consentement aux Cookies</h1>
                    <p class="h5">Respectez le RGPD et la législation européenne relative aux cookies grâce à notre solution gratuite de gestion des cookies.</p>
                    <p class="h5">Consentement aux Cookies est un moyen simple et rapide d'ajouter un pop-up interactif d'autorisation des cookies à votre site, et de gérer la directive de l'UE relative aux cookies (ePrivacy) ainsi que la législation RGPD.</p>
                    <div class="features-list">
                        <div class="row">
                            <div class="col">
                                <p class="h5"><i class="fa-solid fa-check"></i> Gratuite</p>
                            </div>
                            <div class="col">
                                <p class="h5"><i class="fa-solid fa-check"></i> Facile à utiliser</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="h5"><i class="fa-solid fa-check"></i> Légère</p>
                            </div>
                            <div class="col">
                                <p class="h5"><i class="fa-solid fa-check"></i> Personnalisable</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col has-screenshot">
                    <p><img src="/assets/images/icon-privacy1.jpg" class="img-fluid" alt="" loading="lazy"></p>
                </div>
            </div>
        </div>
    </section>
</body>