<body>


    <h1> <b> Options</b></h1>
    <div class="wrap" [class.vert]="(tabWay=='vert') ">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="ajouter client">
                <h1>L'ajout d'un client </h1>
                <form class="example-form" (ngSubmit)="insertData()">
                    <h3 for="nomClient">Nom :
                    </h3>
                    <mat-form-field class="client" appearance="fill">
                        <input matInput type="text" name="Nom" [(ngModel)]="client.Nom">
                    </mat-form-field>

                    <h3>Nom d'entreprise</h3>

                    <mat-form-field class="client" appearance="fill">
                        <input matInput value="" name="Nom_d_entreprise" [(ngModel)]="client.Nom_d_entreprise">
                    </mat-form-field>

                    <h3>Email:</h3>

                    <mat-form-field class="client" appearance="fill">
                        <input matInput value="" name="Email" [(ngModel)]="client.Email">
                    </mat-form-field>
                    <h3>Lien du site :</h3>
                    <mat-form-field class="client" appearance="fill">

                        <mat-label>lien</mat-label>
                        <input matInput value="" name="Lien_du_site" [(ngModel)]="client.Lien_du_site">
                    </mat-form-field>
                    <button class="btn btn-dark btn -sm mt-4" (click)="alertfun()">Valider</button>
                    <div *ngIf="alert" class="alert alert-success" role="alert">
                        A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                    </div>

                </form>

            </mat-tab>

            <mat-tab label="Conception de bannière">
                <form (ngSubmit)="insertData2()">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <h1> Interface principale</h1>
                                <h4>Changez le design d'interface principale de bannière.</h4>
                                <h3 class="label">Layout</h3>

                                <mat-form-field>
                                    <mat-label style="color:rgb(75, 74, 74)"> <b>Layout</b> </mat-label>
                                    <mat-select [(value)]="layout" name="layout" [(ngModel)]="param.layout">
                                        <mat-option value="box">Box</mat-option>
                                        <mat-option value="cloud">Cloud</mat-option>
                                        <mat-option value="bar">Bar</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            <div class="col-5">
                                <h1>
                                    Espace de preferance
                                </h1>
                                <h4>Changez le design d'expace de preference de bannière.</h4>
                                <h3 class="label">Layout :</h3>

                                <mat-form-field>
                                    <mat-label style="color:rgb(75, 74, 74)"> <b>Layout</b> </mat-label>
                                    <mat-select [(value)]="layout_settings" name="layout_settings" [(ngModel)]="param.layout_settings">

                                        <mat-option value="box">Box</mat-option>
                                        <mat-option value="bar">Bar</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <h3 class="label">Position_y :</h3>

                                    <mat-form-field>
                                        <mat-label style="color:rgb(75, 74, 74)"> <b>Position y :</b> </mat-label>

                                        <mat-select [(value)]="position_y_gui" name="position_y_gui" [(ngModel)]="param.position_y_gui">
                                            <mat-option value="bottom">Bottom</mat-option>
                                            <mat-option value="middle">Middle</mat-option>
                                            <mat-option value="top">Top</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                                <div class="col-5">
                                    <h3 class="label">Position_x :</h3>

                                    <mat-form-field>
                                        <mat-label style="color:rgb(75, 74, 74)"> <b>Position_x :</b> </mat-label>
                                        <mat-select [(value)]="position_settings" name="position_settings" [(ngModel)]="param.position_settings">

                                            <mat-option value="left">Left</mat-option>
                                            <mat-option value="right">Right</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-5">

                                    <h3 class="label">Position_x :</h3>

                                    <mat-form-field>
                                        <mat-label style="color:rgb(75, 74, 74)"> <b>Position_x</b> </mat-label>

                                        <mat-select [(value)]="position_x_gui" name="position_x_gui" [(ngModel)]="param.position_x_gui">
                                            <mat-option value="left">Left</mat-option>
                                            <mat-option value="center">Center</mat-option>
                                            <mat-option value="right">Right</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-5">
                                    <h3 class="label">transition :</h3>

                                    <mat-form-field>
                                        <mat-label style="color:rgb(75, 74, 74)"> <b>transition</b> </mat-label>

                                        <mat-select [(value)]="transition_settings" name="transition_settings" [(ngModel)]="param.transition_settings">
                                            <mat-option value="zoom">Zoom</mat-option>
                                            <mat-option value="slide">Slide</mat-option>

                                        </mat-select>

                                    </mat-form-field>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-5">
                                    <h3 class="label">Transition :</h3>

                                    <mat-form-field>
                                        <mat-label style="color:rgb(75, 74, 74)"> <b>Transition</b> </mat-label>

                                        <mat-select [(value)]="transition_gui" name="transition_gui" [(ngModel)]="param.transition_gui">

                                            <mat-option value="zoom">Zoom</mat-option>
                                            <mat-option value="slide">Slide</mat-option>

                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h2>theme :</h2>
                            </div>
                            <div class="col-5">
                                <mat-button-toggle-group [(ngModel)]="param.theme" name="toggle">
                                    <mat-button-toggle [value]="theme_dark" (click)="ToggleOff()"><span class="material-icons">nights_stay</span>Foncé</mat-button-toggle>
                                    <mat-button-toggle [value]="theme_light" (click)="ToggleOff()"> <span class=" material-icons ">light_mode</span>Clair</mat-button-toggle>
                                    <mat-button-toggle [value]="theme_turquoise " id="turquoise " (click)="ToggleOff() ">turquise</mat-button-toggle>
                                    <mat-button-toggle [value]="theme_light_blue " id="funky " (click)="ToggleOff() ">light funky</mat-button-toggle>
                                    <mat-button-toggle [value]="personnalise " id="personnalisé " (click)="ToggleOn() ">personnalisé</mat-button-toggle>


                                </mat-button-toggle-group>
                            </div>
                        </div>


                        <div *ngIf="isDisplay " id="Choose_Color ">


                            <div class="row ">

                                <div class="col "><button mat-raised-button [(colorPicker)]="bouton_text" id="bouton_select" [style.background]="bouton_text " name="chosecolor1 "></button>

                                    <span class="bouton ">Couleur de text</span>

                                </div>
                                <div class="col "><button mat-raised-button [(colorPicker)]="bouton_color" id="bouton_select" [style.background]="bouton_color " name="chosecolor1 "></button>

                                    <span class="bouton ">Bouton Couleur</span>

                                </div>



                            </div>
                            <div class="row ">
                                <div class="col "><button mat-raised-button [(colorPicker)]="bouton_bg" id="bouton_select" [style.background]="bouton_bg " name="chosecolor1 "></button>

                                    <span class="bouton ">Background Couleur</span>

                                </div>


                                <div class="col "><button mat-raised-button [(colorPicker)]="bouton_hover" id="bouton_select" [style.background]="bouton_hover" name="chosecolor1 "></button>

                                    <span class="bouton ">bouton principale</span>

                                </div>
                            </div>
                        </div>


                    </div>
                </form>
















            </mat-tab>
            <mat-tab label="text de banniere ">
                <h1>Conception de bannière</h1>

                <div class="container ">
                    <form>
                        <div class="row ">
                            <div class="col-5 ">
                                <h3> <b>Titre Principal:</b> </h3>

                                <input type="text " class="form-control " id=" " name="Titre_principale " [(ngModel)]="param.Titre_principale ">
                            </div>
                            <div class="col-5 ">
                                <h3> <b>Description:</b> </h3>

                                <input type="text " class="form-control " id=" " name="Description " [(ngModel)]="param.Description ">

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-5 ">
                                <h3> <b>Nom du lien :</b> </h3>
                                <input type="text " class="form-control " id=" " name="Nom_du_lien " [(ngModel)]="param.Nom_du_lien ">

                            </div>
                            <div class="col-5 ">
                                <h3> <b>Lien : </b> </h3>


                                <input type="text " class="form-control input-sm " id=" " name="Lien " [(ngModel)]="param.Lien ">

                            </div>
                        </div>


                    </form>

                </div>




            </mat-tab>
            <mat-tab label="Espace de preference ">
                <h1>Conception de bannière</h1>
                <mat-card>
                    <form (ngSubmit)="insertData2() ">
                        <div class="row ">
                            <div class="col-5 ">
                                <h3> <b>Titre principal :</b> </h3>

                                <input type="text " class="form-control " name="Titre_principal2 " [(ngModel)]="param.Titre_principal2 ">

                            </div>
                            <div class="col-5 ">
                                <h3> <b> Titre de description :</b></h3>

                                <input type="text " class="form-control " name=" Titre_description " [(ngModel)]="param.Titre_description ">

                            </div>
                            <div class="col-5 ">
                                <h3> <b> Description :</b></h3>

                                <input type="text " class="form-control " name="Description2 " [(ngModel)]="param.Description2 ">

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-5 ">
                                <h3> <b>Traceur 1 :</b></h3>
                                <input type="text " class="form-control " name="Traceur_1 " [(ngModel)]="param.Traceur_1 ">

                            </div>
                            <div class="col-5 ">
                                <h3><b>Desciprtion :</b></h3>


                                <input type="text " class="form-control input-sm " name="Description_traceur1 " [(ngModel)]="param.Description_traceur1 ">

                            </div>
                            <div class="col-5 ">
                                <h3> <b>Traceur 2 :</b></h3>
                                <input type="text " class="form-control " name=" Traceur_2 " [(ngModel)]="param.Traceur_2 ">

                            </div>
                            <div class="col-5 ">
                                <h3><b>Desciprtion :</b></h3>


                                <input type="text " class="form-control input-sm " name="Description_traceur2 " [(ngModel)]="param.Description_traceur2 ">

                            </div>
                            <div class="col-5 ">
                                <h3> <b>Traceur 3 :</b></h3>
                                <input type="text " class="form-control " name="Traceur_3 " [(ngModel)]="param.Traceur_3 ">

                            </div>
                            <div class="col-5 ">
                                <h3><b>Desciprtion :</b></h3>


                                <input type="text " class="form-control input-sm " name="Description_traceur3 " [(ngModel)]="param.Description_traceur3 ">

                            </div>
                            <div class="col-5 ">
                                <h3> <b>Tite d'information :</b></h3>
                                <input type="text " class="form-control " name="Titre_information " [(ngModel)]="param.Titre_information ">

                            </div>
                            <div class="col-5 ">
                                <h3><b>Description :</b></h3>


                                <input type="text " class="form-control input-sm " name="Description_information " [(ngModel)]="param.Description_information ">

                            </div>
                            <div class="col-5 ">
                                <h3> <b>Nom du lien :</b></h3>
                                <input type="text " class="form-control " name="Nom_lien " [(ngModel)]="param.Nom_lien ">

                            </div>
                            <div class="col-5 ">
                                <h3><b>Lien:</b></h3>


                                <input type="text " class="form-control input-sm " name="lien2 " [(ngModel)]="param.lien2 ">

                            </div>
                        </div>
                        <button class="btn btn-dark btn -sm mt-4 " (click)="alertfun() ">enregistrer</button>
                        <div *ngIf="alert " class="alert alert-success " role="alert ">
                            A simple success alert with <a href="# " class="alert-link ">an example link</a>. Give it a click if you like.
                        </div>
                    </form>


                </mat-card>



            </mat-tab>
            <mat-tab label="code js ">
                <div class="container ">

                    <mat-card style="height:700px; ">
                        <mat-card-title>code js</mat-card-title>
                        <mat-card-subtitle>
                            Vous avez terminé. Copiez votre code de consentement ci-dessous.</mat-card-subtitle>
                        <p>1) Copiez l'extrait de code snippet ci-dessous dans le presse-papiers.</p>
                        <p>2) Collez le code dans la section HTML de la page de votre site Web.</p>
                        <mat-card-content style="background-color:#e9ecef ; height: 100px; overflow-y:scroll; " [innerText]="codejs ">
                        </mat-card-content>
                        <button #tooltip mat-raised-button class="fa fa-clone " [cdkCopyToClipboard]="codejs ">

</button>
                    </mat-card>

                </div>

            </mat-tab>

        </mat-tab-group>

    </div>
    <app-code-ui [item]="layout "></app-code-ui>
</body>