<h1> <b> Options</b></h1>
<div class="wrap" [class.vert]="(tabWay=='vert') ">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="ajouter client">
            <h1>L'ajout d'un client </h1>
            <form class="example-form" (ngSubmit)="insertData()">
                <h3 for="nomClient">Nom :
                </h3>
                <mat-form-field class="client" appearance="fill">
                    <input matInput type="text" name="Nom" [(ngModel)]="client.Nom">
                </mat-form-field>

                <h3>Nom d'entreprise</h3>

                <mat-form-field class="client" appearance="fill">
                    <input matInput value="" name="Nom_d_entreprise" [(ngModel)]="client.Nom_d_entreprise">
                </mat-form-field>
                <h3>Email:</h3>

                <mat-form-field class="client" appearance="fill">
                    <input matInput value="" name="Email" [(ngModel)]="client.Email">
                </mat-form-field>
                <h3>Lien du site :</h3>
                <mat-form-field class="client" appearance="fill">

                    <mat-label>lien</mat-label>
                    <input matInput value="" name="Lien_du_site" [(ngModel)]="client.Lien_du_site">
                </mat-form-field>
                <button class="btn btn-dark btn -sm mt-4">Valider</button>

            </form>
        </mat-tab>

        <mat-tab label="Conception de bannière">
            <form>
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <h1> Interface principale</h1>
                            <h4>Changez le design d'interface principale de bannière.</h4>
                            <h3 class="label">Layout</h3>

                            <mat-form-field>
                                <mat-label style="color:rgb(75, 74, 74)"> <b>Layout</b> </mat-label>
                                <mat-select [(value)]="layout">
                                    <mat-option value="box">Box</mat-option>
                                    <mat-option value="cloud">Cloud</mat-option>
                                    <mat-option value="bar">Bar</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-5">
                            <h1>
                                Espace de preferance
                            </h1>
                            <h4>Changez le design d'expace de preference de bannière.</h4>
                            <h3 class="label">Layout :</h3>

                            <mat-form-field>
                                <mat-label style="color:rgb(75, 74, 74)"> <b>Layout</b> </mat-label>
                                <mat-select>
                                    <mat-option value="box">Box</mat-option>
                                    <mat-option value="cloud">Cloud</mat-option>
                                    <mat-option value="bar">Bar</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h3 class="label">Position_x :</h3>

                                <mat-form-field>
                                    <mat-label style="color:rgb(75, 74, 74)"> <b>Position_x</b> </mat-label>

                                    <mat-select [(value)]="position_x_gui">
                                        <mat-option value="Center">Center</mat-option>
                                        <mat-option value="Left">Left</mat-option>
                                        <mat-option value="Right">Right</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-5">
                                <h3 class="label">Position_x :</h3>

                                <mat-form-field>
                                    <mat-label style="color:rgb(75, 74, 74)"> <b>Position_x :</b> </mat-label>
                                    <mat-select [(value)]="position_x_gui">

                                        <mat-option value="Bottom">Bottom</mat-option>
                                        <mat-option value="Middle">Middle</mat-option>
                                        <mat-option value="Top">Top</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-5">
                                <h3 class="label">Position_y :</h3>

                                <mat-form-field>
                                    <mat-label style="color:rgb(75, 74, 74)"> <b>Position</b> </mat-label>

                                    <mat-select [(value)]="position_x_gui">
                                        <mat-option value="Bottom">Bottom</mat-option>
                                        <mat-option value="Middle">Middle</mat-option>
                                        <mat-option value="Top">Top</mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                            <div class="col-5">
                                <h3 class="label">Position_y :</h3>

                                <mat-form-field>
                                    <mat-label style="color:rgb(75, 74, 74)"> <b>transition</b> </mat-label>

                                    <mat-select [(value)]="transition_settings">
                                        <mat-option value="Bottom">Bottom</mat-option>
                                        <mat-option value="Middle">Middle</mat-option>
                                        <mat-option value="Top">Top</mat-option>
                                    </mat-select>

                                </mat-form-field>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-5">
                                <h3 class="label">Transition :</h3>

                                <mat-form-field>
                                    <mat-label style="color:rgb(75, 74, 74)"> <b>Transition</b> </mat-label>

                                    <mat-select [(value)]="transition_gui">

                                        <mat-option value="Zoom">Zoom</mat-option>
                                        <mat-option value="Slide">Slide</mat-option>
                                        <mat-option value="bar">bar</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-5">
                            <h2>theme :</h2>
                        </div>
                        <div class="col-5">
                            <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
                                <mat-button-toggle value="Foncé"><span class="material-icons">nights_stay</span>Foncé</mat-button-toggle>
                                <mat-button-toggle value="Clair"><span class="material-icons">light_mode</span>Clair</mat-button-toggle>
                                <mat-button-toggle value="Clair" id="turquoise">turquise</mat-button-toggle>
                                <mat-button-toggle value="Clair" id="funky">light funky</mat-button-toggle>

                            </mat-button-toggle-group>
                        </div>
                    </div>


                    <h2>Personaliser les couleur:</h2>
                    <div class="container">


                        <div class="row">

                            <div class="col ">
                                <input type="color" id="color_picker" name="head" value="red">
                                <span class="bouton">bouton principale</span>
                            </div>


                            <div class="col"><input type="color" id="color_picker" name="head" value="blue">
                                <span class="bouton">bouton principale</span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><input type="color" id="color_picker" name="head" value="#e66465">
                                <span class="bouton">bouton principale</span>

                            </div>


                            <div class="col"><input type="color" id="color_picker" name="head" value="#e66465">
                                <span class="bouton">bouton principale</span>

                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary m-2">enregistrer</button>
                </div>
            </form>













        </mat-tab>
        <mat-tab label="text de banniere">
            <h1>Conception de bannière</h1>

            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-5">
                            <h3>titre :</h3>

                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                        </div>
                        <div class="col-5 ">
                            <h3>description :</h3>

                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 ">
                            <h3>titre :</h3>
                            <input type="email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">

                        </div>
                        <div class="col-5 ">
                            <h3>link :</h3>


                            <input type="email " class="form-control input-sm " id="exampleInputEmail1 " aria-describedby="emailHelp ">

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary m-2">enregistrer</button>

                </form>

            </div>




        </mat-tab>
        <mat-tab label="Espace de preference">
            <h1>Conception de bannière</h1>
            <mat-card>
                <form>
                    <div class="row">
                        <div class="col-5">
                            <h3>titre de description :</h3>

                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                        </div>
                        <div class="col-5 ">
                            <h3>description :</h3>

                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 ">
                            <h3>titre :</h3>
                            <input type="email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">

                        </div>
                        <div class="col-5 ">
                            <h3>link :</h3>


                            <input type="email " class="form-control input-sm " id="exampleInputEmail1 " aria-describedby="emailHelp ">

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary m-2">enregistrer</button>

                </form>


            </mat-card>



        </mat-tab>
        <mat-tab label="code js">
            <div class="container">

                <mat-card style="height:700px;">
                    <mat-card-title>code js</mat-card-title>
                    <mat-card-subtitle>
                        Vous avez terminé. Copiez votre code de consentement ci-dessous.</mat-card-subtitle>
                    <mat-card-content style="background-color:#e9ecef ; height: 100px; overflow-y:scroll;" [innerText]="codejs">
                    </mat-card-content>
                </mat-card>

            </div>

        </mat-tab>

    </mat-tab-group>

</div>
<app-code-ui [item]="layout"></app-code-ui>