#forms {
    width: 300px;
    margin-left: 200px;
}

h1 {
    font-weight: 500;
    margin-bottom: 40px;
}

label {
    font-size: 20px;
}

.p {
    margin: 15x;
}

input {
    margin-bottom: 15px;
    margin-top: 15px;
}

button {
    float: right;
    margin: 15px;
    height: 48px;
    width: 100px;
}