<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form action="" class="row g-4">
                                    <div class="col-12">
                                        <label>Email<span class="text-danger"> *</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                                            </div>

                                            <input type="text " class="form-control " placeholder="email" name="email " [(ngModel)]="admin.email ">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label>Password<span class="text-danger">  *</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i>

                                            </div>
                                            <input type="password" class="form-control " placeholder="password " name="password " [(ngModel)]="admin.password ">

                                        </div>
                                    </div>





                                    <div class="col-12">

                                        <button type="submit" class="btn btn-primary px-4 float-end mt-4" (click)="check()">login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">

                            <img class="image-prem" src="assets/images/Firstlogo.jpg " class=" img-fluid " loading="lazy ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>