<div class="container">
    <a routerLink="/client" class="btn btn-primary btn-md mx-10" style="margin-top: 30px;margin-bottom: 30px; float:right;"> Ajouter</a>

    <!--
<table class="table table-bordered">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Nom d'entreprise</th>
            <th scope="col">Email</th>
            <th scope="col">Lien du site</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let clnt of clients">

            <th scope="row">{{clnt.id}}</th>
            <td>{{clnt.Nom}}</td>
            <td>{{clnt.Nom_d_entreprise}}</td>
            <td>{{clnt.Email}}</td>
            <td>{{clnt.Lien_du_site}}</td>

            <td><button class="btn btn-danger btn-sm" (click)="deleteData(clnt.id)">Supprimer</button></td>
            <td><a routerLink="/edit/{{clnt.id}}" class="btn btn-warning btn-sm mx-2"> Mise à jour</a></td>
            <td><a routerLink="/afficherchoix/{{clnt.id}}" class="btn btn-warning btn-sm mx-2"> afficher le choix</a></td>
            <td><a routerLink="/editchoix/{{clnt.id}}" class="btn btn-warning btn-sm mx-2"> edit parametrage</a></td>


        </tr>
    </tbody>
</table>
-->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element">{{element.Nom}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Nom_d_entreprise">
            <th mat-header-cell *matHeaderCellDef> Nom d'entreprise </th>
            <td mat-cell *matCellDef="let element"> {{element.Nom_d_entreprise}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>
        <ng-container matColumnDef="Lien_du_site">
            <th mat-header-cell *matHeaderCellDef> Lien du site </th>
            <td mat-cell *matCellDef=" let element "> {{element.Lien_du_site}} </td>
        </ng-container>
        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef> .</th>
            <td mat-cell *matCellDef=" let element ">
                <div style="float: right;">
                    <a routerLink="/edit/{{element.id}}" class="btn btn-primary btn-sm mx-2"> Mise à jour</a>
                    <a routerLink="/afficherchoix/{{element.id}}" class="btn btn-primary btn-sm mx-2"> afficher le choix</a>
                    <a routerLink="/editchoix/{{element.id}}" class="btn btn-primary btn-sm mx-2"> edit parametrage</a>
                    <button class="btn btn-danger btn-sm" (click)="deleteData(element.id)">Supprimer</button>
                </div>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
</div>