<table class="table table-bordered">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre_principale</th>
            <th scope="col">Description</th>
            <th scope="col">Nom_du_lien</th>
            <th scope="col">Lien</th>
            <th scope="col">Titre_principal2</th>
            <th scope="col">Titre_description</th>
            <th scope="col">Description2</th>
            <th scope="col">Traceur_1</th>
            <th scope="col">Description_traceur1</th>
            <th scope="col">Traceur_2</th>
            <th scope="col">Description_traceur2</th>
            <th scope="col">Traceur_3</th>
            <th scope="col">Description_traceur3</th>
            <th scope="col">Titre_information</th>
            <th scope="col">Description_information</th>
            <th scope="col">Nom_lien</th>
            <th scope="col">lien2</th>
            <th scope="col">layout</th>
            <th scope="col">position_x_gui</th>
            <th scope="col">position_y_gui</th>
            <th scope="col">transition_gui</th>
            <th scope="col">layout_settings</th>
            <th scope="col">position_settings</th>
            <th scope="col">transition_settings</th>
            <th scope="col" style="width: 100px;">theme</th>
            <th scope="col">codejs</th>

            <th scope="col">client_id</th>


        </tr>
    </thead>
    <tbody>
        <tr>

            <th scope="row">{{parametrage.client_id}}</th>

            <th scope="col">{{parametrage.Titre_principale}}</th>
            <th scope="col">{{parametrage.Description}}</th>
            <th scope="col">{{parametrage.Nom_du_lien}}</th>
            <th scope="col">{{parametrage.Lien}}</th>
            <th scope="col">{{parametrage.Titre_principal2}}</th>
            <th scope="col">{{parametrage.Titre_description}}</th>
            <th scope="col">{{parametrage.Description2}}</th>
            <th scope="col">{{parametrage.Traceur_1}}</th>
            <th scope="col">{{parametrage.Description_traceur1}}</th>
            <th scope="col">{{parametrage.Traceur_2}}</th>
            <th scope="col">{{parametrage.Description_traceur2}}</th>
            <th scope="col">{{parametrage.Traceur_3}}</th>
            <th scope="col">{{parametrage.Description_traceur3}}</th>
            <th scope="col">{{parametrage.Titre_information}}</th>
            <th scope="col">{{parametrage.Description_information}}</th>
            <th scope="col">{{parametrage.Nom_lien}}</th>
            <th scope="col">{{parametrage.lien2}}</th>
            <th scope="col">{{parametrage.layout}}</th>
            <th scope="col">{{parametrage.position_x_gui}}</th>
            <th scope="col">{{parametrage.position_y_gui}}</th>
            <th scope="col">{{parametrage.transition_gui}}</th>
            <th scope="col">{{parametrage.layout_settings}}</th>
            <th scope="col">{{parametrage.position_settings}}</th>
            <th scope="col">{{parametrage.transition_settings}}</th>
            <th scope="col">{{parametrage.theme}}</th>

            <th scope="col">{{parametrage.codejs}}</th>
            <th scope="col">{{parametrage.client_id}}</th>
        </tr>