.sidenav {
    background-color: #8d5185;
    background-image: linear-gradient(315deg, #8d5185 0%, #a1bafe 74%);
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;
        .logo {
            text-align: center;
            width: 15rem;
            min-width: 3.5rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }
        .logo-text {
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: rgb(0, 0, 0);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: wavy;
        }
        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;
            .fa-times {
                color: rgb(223, 19, 19);
                font-size: 24px;
            }
        }
    }
}

.sidenav-collapsed {
    width: 16.5625rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
    margin-top: 35px;
    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;
        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #111111;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;
            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
                margin-left: 2px;
            }
            .sidenav-link-text {
                margin-left: 0.8rem;
                font-family: cursive;
            }
        }
    }
    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #ffffff;
            color: #000;
        }
    }
}

.active {
    background-color: #ffffff;
    .sidenav-link-icon,
    .sidenav-link-text {
        color: rgb(0, 0, 0);
    }
}

#mobiletic {
    margin-left: 80px;
    padding-top: 1rem;
    padding-bottom: .10rem;
    margin-top: -20px;
    padding-bottom: 2px;
    width: 100%;
    //background-color: #f8ceec;
    //background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    background-color: #8d5185;
    background-image: linear-gradient(315deg, #8d5185 0%, #a1bafe 74%);
    height: 79px;
}

.nine h1 {
    text-align: right;
    font-size: 23px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: Georgia, serif;
    font-weight: 400;
    margin-left: 440px;
    margin-top: -10px;
}

.nine h1 span {
    margin-top: -2px;
    font-size: 16px;
    color: rgb(31, 6, 29);
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Times, 'Times New Roman', serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,
.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid rgb(81, 159, 204);
    border-top: 1px solid rgb(68, 201, 179);
    height: 5px;
    background-color: rgb(14, 70, 143);
}