body {
    margin: 40px;
    margin-top: 70px;
}

.INT {
    width: 1300px;
    margin-top: 20px;
    margin-left: -42px;
}

.text {
    font-family: sans-serif;
    font-size: 15px;
}

.intro {
    font-size: 20px !important;
    font-weight: 600;
    font-size: serif;
}

#gh {
    margin-left: 40px;
}

#OP {
    margin-left: 60px;
}

.ligne {
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}