<mat-list>
    <mat-list-item class="ligne">Politique de confidentialité</mat-list-item>
    <mat-divider></mat-divider>
   
  </mat-list>
  
<div class="INT" style="padding: 3em 3em;">
    <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>

        <mat-panel-title class="intro">1. Introduction</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="text">
    Cette politique de confidentialité explique comment nous collectons, utilisons, partagons et traitons vos informations. Conformément à vos droits, nous vous informons de la manière dont nous collectons, 
 stockons, accédons et traitons autrement les informations relatives aux individus. Elle s'applique aux sites Web et aux domaines.
 Dans cette politique, les « données personnelles » désignent toute information qui, à elle seule ou en combinaison  avec d'autres informations disponibles, peut distinguer un individu. <br>
Toutes les données personnelles que vous fournissez à ces sites Web seront régies par la propre politique de confidentialité du tiers. Nous ne pouvons pas accepter la responsabilité des actions ou des politiques de ces sites indépendants, et nous ne sommes pas responsables du contenu ou des pratiques de confidentialité de ces sites.
    </div>
</mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>

        <mat-panel-title class="intro">2. Les données personnelles que nous collectons</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="text">
        Selon les produits et services que vous utilisez, nous collectons différents types de données personnelles vous concernant ou vous concernant. <br>
<br>
       <b> Données que vous fournissez : </b> nous collectons les données personnelles que vous fournissez lorsque vous utilisez nos produits et services ou interagissez avec nous, par exemple lorsque vous créez un compte, nous contactez, participez à une enquête en ligne, utilisez notre aide en ligne ou un outil de chat en ligne. <br>
        <br>
    <b> Données sur les paiements : </b> Si vous effectuez un achat, nous collectons des données personnelles en rapport avec l'achat. Ces données incluent vos données de paiement, telles que votre numéro de carte de crédit ou de débit et d'autres informations de carte, et d'autres informations de compte et d'authentification, ainsi que les coordonnées de facturation, d'expédition et de contact. <br>
        <br>
    <b>   Données sur l'utilisation de nos services et produits : </b>  Lorsque vous visitez nos sites Web, nous pouvons collecter des données sur le type d'appareil que vous utilisez, l'identifiant unique de votre appareil, l'adresse IP de votre appareil, votre système d'exploitation, le type de navigateur Internet que vous utilisation, informations d'utilisation, informations de diagnostic et informations de localisation provenant de ou concernant les ordinateurs, téléphones ou autres appareils sur lesquels vous installez ou accédez à nos produits ou services. Lorsqu'ils sont disponibles, nos services peuvent utiliser le GPS, votre adresse IP et d'autres technologies pour déterminer l'emplacement approximatif d'un appareil afin de nous permettre d'améliorer nos produits et services. 
    

            <ul id="gh"> <br>
                <li > <b> Comment nous utilisons vos données personnelles ? </b></li>
            </ul>
  
            <br>
            Lorsque vous visitez un site Web, nous collectons et stockons automatiquement des informations sur votre visite à l'aide de cookies de navigateur (fichiers que nous envoyons à votre ordinateur) ou d'une technologie similaire. Vous pouvez demander à votre navigateur de refuser tous les cookies ou d'indiquer quand un cookie est envoyé. La fonction d'aide de la plupart des navigateurs fournira des informations sur la façon d'accepter les cookies, de désactiver les cookies ou de vous avertir lors de la réception d'un nouveau cookie. Si vous n'acceptez pas les cookies, vous ne pourrez peut-être pas utiliser certaines fonctionnalités de notre Service et nous vous recommandons de les laisser activés.


</div>
    
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>

    <mat-panel-title class="intro">3. Politique relative aux cookies</mat-panel-title>
</mat-expansion-panel-header>
<div class="text">
    Les cookies sont des fichiers texte contenant de petits éléments de données, comme un nom d'utilisateur et un mot de passe, qui sont utilisés pour identifier votre ordinateur lorsque vous utilisez un réseau informatique. Des cookies spécifiques appelés cookies HTTP sont utilisés pour identifier des utilisateurs spécifiques et améliorer votre expérience de navigation sur le Web. <br>
    <br>
    Pour vous offrir la meilleure expérience possible, nous utilisons les types de cookies suivants :
     
    <ul id="gh"> <br>
        
        <li><b>Strictement nécessaire : </b> En tant qu'application Web, nous avons besoin de certains cookies nécessaires pour exécuter notre service.</li>
       <li><b>Préférence : </b></li> 
    <ul><li id="OP"> Nous utilisons des cookies de préférence pour nous aider à nous souvenir de la façon dont vous aimez utiliser notre service.</li></ul>  
    <ul><li id="OP">Certains cookies sont utilisés pour personnaliser le contenu et vous proposer une expérience sur mesure. Par exemple, l'emplacement peut être utilisé pour vous proposer des services et des offres dans votre région.</li></ul>
    <li><b>Analytics : </b> <br> <ul><li id="OP">Nous recueillons des analyses sur les types de personnes qui visitent notre site pour améliorer notre service et notre produit.</li> </ul>
    <li><b>Marketing : </b> <br><ul> <li id="OP"> Nous partageons des cookies avec des annonceurs tiers et/ou des partenaires pour vous offrir une expérience marketing personnalisée.</li></ul>
    <br> 
    </ul>
    
</div>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>

    <mat-panel-title class="intro">4. Rétention & Délétion</mat-panel-title>
</mat-expansion-panel-header>
<div class="text">
    Nous ne conserverons vos données personnelles qu'aussi longtemps que nécessaire aux fins pour lesquelles les données ont été collectées et dans la mesure requise par la loi applicable. Lorsque nous n'aurons plus besoin de données personnelles, nous les supprimerons de nos systèmes et/ou prendrons des mesures pour les anonymiser.
</div>
</mat-expansion-panel>
</mat-accordion>
</div>