<img src="assets/images/gtm.png" style="margin-left:700px;width:500px;" alt="">
<img src="assets/images/rgpdd.gif" style="margin-left:60px; margin-top:-276px ;width:590px">
<div style="margin-left:300px; margin-top:20px;color: blue;"><h1 style="font-size:30px"> <b>Google Tag Manager, Analytics et RGPD.</b> </h1></div>
<p style="margin-left:100px;font-size:20px;margin-top:20px">Voici quelques exemples utiles de configuration Google Tag Manager et Analytics.

</p>
<div style="margin-left:130px;font-size:20px;margin-top:30px">
<ul ><li>
    Accepter les conditions Data Processing Terms dans Google Analytics.
</li>
<li style="margin-top:15px">
    Accepter l’avenant relatif au traitement des données dans Google Tag Manager.
</li>
<li style="margin-top:15px">
    Exiger la validation en deux étapes des identifiants de connexion pour certaines opérations
</li>
<li style="margin-top:15px">Masquer l’adresse IP pour supprimer le dernier octet de l’adresse IP des internautes.</li>
<li style="margin-top:15px">Fixer la durée d’expiration du cookie _ga à 13 mois, depuis sa création.
</li>
<li style="margin-top:15px">Expurger les données personnellement identifiables (PII) envoyées à GA.
</li>
<li style="margin-top:15px">Conditionner l’activation des fonctionnalités de publicité des hits GA selon le consentement utilisateur (cookie).
</li >
</ul></div>